APP_BASE_URL=http://localhost:3000
CURRENCY=cad
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_to_a_long_unique_password
ADMIN_SESSION_SECRET=change_this_to_a_long_random_secret
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_PRICE_BOOKING_DEPOSIT=price_your_booking_deposit_price_id
STRIPE_PRICE_SAME_WEEK_INSTALL=
STRIPE_PRICE_EXTENDED_SUPPORT=
STRIPE_PRICE_DOORBELL_UPGRADE=
STRIPE_PRICE_FLOODLIGHT_UPGRADE=
STRIPE_PRICE_SMART_DISPLAY=
GOOGLE_MAPS_API_KEY=your_browser_restricted_google_maps_api_key
